* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
}

body {
  width: 1440px;
  height: auto;
  background-color: #ededed !important;
  margin: auto !important;
}

main {
  width: 1140px;
  margin: auto;
}
/* ============================== variable ===================================*/

:root {
  --text-grey: #7a7a7a;
  --text-familly: "Manrope", sans-serif;
  --text-title: "Anton", sans-serif;
}

/* =================================================================*/

.hero {
  background-image: url("../assets/image/hero.png");
  background-repeat: no-repeat;
  width: 100%;
  max-width: 1440px;
  height: 700px;
  object-fit: cover;
  object-position: center;
}

.hero__logo {
  background-image: url("../assets/icone/logo.svg");
  background-repeat: no-repeat;
  width: 210px;
  height: 25px;
}
.hero__circle {
  background-image: url("../assets/icone/circle.svg");
  background-repeat: no-repeat;
  width: 100%;
  height: 20px;
}
.hero__contain {
  margin: 10px 0 0 50px;
  display: flex;
  flex-direction: row;
}

.hero__title {
  color: #ffd15b;
  font-family: "Anton", sans-serif;
  text-align: justify;
  top: 194px;
  right: 390px;
}

.hero__icon {
  position: absolute;
  right: 10px;
  top: 9px;
  padding: 12px;
  background-color: #1b1b1b;
}

.hero__title p {
  font-size: 2.5rem;
  font-weight: 400;
  text-align: center;
}

.hero__title-element {
  font-size: 2.8rem;
  font-weight: 400;
}

.search-container {
  position: relative;
}

.form-control {
  padding: 1rem 2rem !important;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.form-control::placeholder {
  color: #7a7a7a !important;
}

.search__icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  background-color: #1b1b1b;
  border-radius: 10px;
  padding: 10px;
}

.search__icon:hover {
  background-color: #ffd15b;
}

.search__icon svg:hover {
  color: #000000;
}

.icon {
  position: absolute;
    top: 26px;
    right: 22px;
}

.search {
  width: 100%;
  padding: 8px 16px !important;
}

.custom__btn {
  width: 200px;
  padding: 10px 15px;
}

#dropdown__contain {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}

#ingredients,
#ustensils,
#appliance {
  background-color: #fff;
  color: #1b1b1b;
  border: none;
  font-family: var(--text-familly);
  font-weight: 500;
}
.icon-button:hover,
.dropdown-item:hover {
  background-color: #ffd15b !important ;
}

.dropdown__title {
  font-family: var(--text-title);
  font-size: 2rem;
  font-weight: 400;
}

.div_items {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 200px;
  width:200px;
}

.card-img-top {
  width: 380px !important;
  height: 253px;
  object-fit: cover !important;
  flex-shrink: 0;
  border-radius: 21px 21px 0 0 !important;
}

.card {
  width: 23.8rem !important;
  height: auto !important;
  border-radius: 21px !important;
  background: #fff !important;
  box-shadow: 0px 4px 34px 30px rgba(0, 0, 0, 0.04) !important;
  overflow: hidden;
}

#card__section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.card__text {
  padding: 10px;
  font-family: var(--text-familly);
}
.card__text-info {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card__element {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.card__title {
  color: #000;
  font-family: var(--text-title);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card__sticky {
  position: absolute;
  right: 20px;
  top: 23px;
  border-radius: 14px;
  background: #ffd15b;
  padding: 2px 14px;
  box-shadow: 0px 4px 34px 30px rgba(0, 0, 0, 0.04);
}

.card__ingredient,
.card__subtitle {
  color: var(--text-grey);
  font-family: var(--text-familly);
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  text-transform: uppercase;
}

.ingredient__name {
  color: #1b1b1b;
  font-family: var(--text-familly);
  font-size: 1rem;
  font-weight:600;
  line-height: normal;
}

.ingredient__amount {
  color: var(--text-grey);
  font-family: var(--text-familly);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#div-tag {
  margin: 30px 0 0 80px;
}
